.countries-list-container{
    margin: 0 auto;
    height: 400px;
    overflow: auto;
    list-style: none;
}

.country-row{
    margin: 10px 0;
    background-color: white;
}

.selected-country {
    border: 10px solid blue;
}

.country-indication {
    margin: 0 10px;
}