.countries-list-container{
    margin: 0 auto;
    height: 400px;
    overflow: auto;
    list-style: none;
}

.country-row{
    margin: 30px 0;
    text-align: left;
}

.selected-country {
    border: 1px solid blue;
}