#svgMapWrapper{width: 100vw!important; height: 140vh!important;}
#svgMapWrapper>svg>path:hover{
    fill:#e3e3e3!important;filter:drop-shadow(0 10px 5px rgba(0, 0, 0, .3))!important;
    -webkit-filter:drop-shadow(0 10px 5px rgba(0, 0, 0, .3))!important
}

#tooltip {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #BF0A30;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
}
#tooltip.active{
    display: block;
}