#world_map_container{
    width: 55%;
    float: left;
}

#tooltip {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #BF0A30;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
}
#tooltip.active{
    display: block;
}

.indicator {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}

.indicator>* {
    display: inline-block;
}

.indicator-gradient {
    width: 150px;
    height: 15px;
}

.indicator span {
    margin-left: 5px;
    line-height: 15px;
}